$header-bg-color: #ffb8ca;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #fff5f6;
$reviews-bg-color: #fafafa;
$section-bg-color: #f0d1a5;
$products-item-bg-color: #c2e297;

$subtitle-text-color: #ffa5ba;
$color-accent: #d41443;
$text-color: #ffffff;
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$reviews-line-color: #e1e1e1;
$social-color: #fea5bb;
$hover-button: #ecebeb;
$modal-menu-border: #e18298;
$modal-menu-bg: #e17992;
$button-color: #d41342;
$button-hover-color: #c7133e;
