<section id="about" class="section--color section--about">
  <div class="container container--flex">
    <p class="title-label">tradition and love</p>
    <h2 class="section-title">how it’s made?</h2>
    <div class="about-flex-box">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/about/cow/cow-desktop.png 1x, ./images/about/cow/cow-desktop@2x.png 2x" />
        <source
          media="(min-width: 768px)"
          srcset="./images/about/cow/cow-tablet.png 1x, ./images/about/cow/cow-tablet@2x.png 2x" />
        <source media="(min-width: 280px)" srcset="./images/about/cow/cow.png 1x, ./images/about/cow/cow@2x.png 2x" />

        <img class="about-img" src="./images/about/cow/cow.png" alt="Корова" loading="lazy"
      /></picture>
      <div class="about-box">
        <ul class="about-list">
          <li class="about-list__item">
            <p class="about-list__text about-list__text--dark">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
              egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li class="about-list__item">
            <p class="about-list__text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
              placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
              tincidunt.
            </p>
          </li>
          <li class="about-list__item">
            <p class="about-list__text">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
        </ul>
        <button type="button" class="about-button" about-modal-open>
          Read more
          <svg class="about-button__icon">
            <use href="./images/sprite.svg#angle-bracket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" about-modal>
    <div class="modal">
      <button type="button" class="modal__close-button" about-modal-close>
        <svg class="modal__close-icon">
          <use href="./images/sprite.svg#close-modal"></use>
        </svg>
      </button>
      <h2 class="modal__title">how it’s made?</h2>
      <ul class="modal__list">
        <li class="modal__item">
          <p class="modal__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ad vero dolorum dicta optio voluptates,
            necessitatibus cupiditate modi reprehenderit maxime aut error inventore sit aspernatur? Temporibus delectus
            tempora autem provident aut, consectetur eveniet nihil accusamus eaque suscipit. Placeat quibusdam tempora
            sint deleniti, est maxime molestias dignissimos amet accusamus fuga repellendus quis, deserunt eos
            doloremque doloribus dolorum voluptatibus possimus quidem. Deserunt laborum quam, facere minus corporis
            tempore quae voluptas? Nulla, quisquam. Aliquid harum veniam exercitationem eum, aspernatur nostrum neque
            excepturi velit blanditiis eaque quod officiis reiciendis ab modi, adipisci ipsam iste culpa omnis maiores.
            Neque quibusdam numquam sunt provident, obcaecati quia nesciunt doloribus placeat ad a consequuntur quaerat
            repudiandae odit natus et asperiores vel iure atque inventore minima assumenda deleniti! Officiis!
          </p>
        </li>
        <li class="modal__item">
          <p class="modal__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit culpa modi fuga deleniti porro ab, optio
            et doloribus maxime dicta. Repellat dolor sit aliquid facilis, deserunt, similique deleniti in quis
            molestias libero asperiores quo et vitae alias voluptatem ipsa porro enim! Adipisci deserunt officiis nulla
            temporibus! Voluptatem quidem porro doloribus odit ipsum commodi soluta sunt beatae atque. Reprehenderit
            iste ut, quod temporibus dolorum quibusdam tempore mollitia impedit explicabo, voluptatibus enim similique
            obcaecati a sunt nulla nam assumenda dignissimos nostrum non nisi quis eveniet. Eius, commodi? Temporibus
            recusandae porro tempore magni repellendus consequuntur quo veniam reprehenderit, nostrum iusto distinctio
            similique accusantium accusamus molestias, architecto sequi dolores sit unde voluptates ducimus amet iste
            alias molestiae? Omnis delectus quibusdam in temporibus fuga dolor similique iusto. Iure ad similique
            expedita ullam, aliquam nam culpa?
          </p>
        </li>
        <li class="modal__item">
          <p class="modal__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ducimus facere pariatur voluptatum animi.
            Laborum, quo fuga id recusandae nihil quos nemo accusantium, quaerat aperiam voluptatum incidunt nulla aut
            corrupti eaque sint laudantium doloribus porro ipsa deserunt. Omnis iste vel, neque nobis, quis obcaecati
            voluptas laudantium molestiae porro cupiditate impedit, vitae soluta. Ducimus perferendis consectetur sequi
            ad fuga aliquam ipsa dolore voluptas autem alias consequuntur sapiente itaque delectus officiis tempora
            molestiae aperiam dignissimos, odit provident vero corporis, earum ipsam eaque. Sequi amet sit, error,
            praesentium blanditiis vitae enim atque, dolorum in consequuntur minus totam soluta repellat possimus alias
            autem tempora mollitia excepturi. Pariatur amet quam, provident voluptatem incidunt cum commodi at quod hic
            magnam, impedit laboriosam ipsa dolorem odit veniam magni nihil rem ad quidem rerum a porro veritatis! Quos
            temporibus optio amet dolore ab velit, omnis eligendi iste, odit accusamus, repellat eaque rem aut officiis
            sunt ut at nemo.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
