<section class="section section-contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">#</h2>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__header contacts-list__header-1">Cafe</p>

        <h3 class="contacts-list__title">Chicago</h3>
        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts-list__shedule">
          <h3 class="contacts-list__days">Monday - Friday</h3>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

          <h3 class="contacts-list__days">Saturday - Sunday</h3>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="contacts-list__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__header contacts-list__header-2">Food Truck</p>

        <h2 class="contacts-list__title">Los Angeles</h2>
        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts-list__shedule">
          <h2 class="contacts-list__days">Monday - Friday</h2>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

          <h3 class="contacts-list__days">Saturday - Sunday</h3>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="contacts-list__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__header contacts-list__header-1">Cafe</p>

        <h3 class="contacts-list__title">Chicago</h3>
        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts-list__shedule">
          <h3 class="contacts-list__days">Monday - Friday</h3>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

          <h3 class="contacts-list__days">Saturday - Sunday</h3>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="contacts-list__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="extra-list">
      <li class="extra-list__item">
        <button class="extra-list__button extra-list__button--red" map-modal-open>

          <div class="extra-list__link extra-list__link--red">Our Locations

            <svg class="extra-list__icon extra-list__icon--location">
              <use href="./images/sprite.svg#angle-bracket"></use>
            </svg>
          </div>
        </button>
      </li>
      <li class="extra-list__item">
        <button class="extra-list__button extra-list__button--white" map-modal-open>

          <div class="extra-list__link extra-list__link--white">Franchise

            <svg class="extra-list__icon extra-list__icon--franchise">
              <use href="./images/sprite.svg#angle-bracket"></use>
            </svg>
          </div>
        </button>
      </li>
    </ul>


    <div class="modal-map is-hidden" map-modal>

      <div class="map">
        <button type="button" class="modal-map__button-close" map-modal-close>
          <svg class="modal-map__button-icon">
            <use href="./images/sprite.svg#close"></use>
          </svg>
        </button>
        <iframe class="iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5081.227817361096!2d30.52023056100613!3d50.44829182825603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce50f8b6e3c3%3A0xb528dc4d6dadc4f8!2z0JzQsNC50LTQsNC9INCd0LXQt9Cw0LLQuNGB0LjQvNC-0YHRgtC4LCDQmtC40LXQsiwg0KPQutGA0LDQuNC90LAsIDAyMDAw!5e0!3m2!1sru!2sat!4v1638970006421!5m2!1sru!2sat"
          style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

