<section class="section section-contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">#</h2>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__header contacts-list__header-1">Cafe</p>

        <h3 class="contacts-list__title">Chicago</h3>
        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts-list__shedule">
          <h3 class="contacts-list__days">Monday - Friday</h3>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

          <h3 class="contacts-list__days">Saturday - Sunday</h3>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="contacts-list__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__header contacts-list__header-2">Food Truck</p>

        <h2 class="contacts-list__title">Chicago</h2>
        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts-list__shedule">
          <h2 class="contacts-list__days">Monday - Friday</h2>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

          <h3 class="contacts-list__days">Saturday - Sunday</h3>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="contacts-list__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__header contacts-list__header-1">Cafe</p>

        <h3 class="contacts-list__title">Chicago</h3>
        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts-list__shedule">
          <h3 class="contacts-list__days">Monday - Friday</h3>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

          <h3 class="contacts-list__days">Saturday - Sunday</h3>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>

        <a class="contacts-list__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-list__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="extra-list">
      <li class="extra-list__item">
        <button class="extra-list__button extra-list__button--red">
          <a class="extra-list__link extra-list__link--red" href="#"
            >Our Locations
            <svg class="extra-list__icon extra-list__icon--location">
              <use href="./images/sprite.svg#angle-bracket"></use>
            </svg>
          </a>
        </button>
      </li>
      <li class="extra-list__item">
        <button class="extra-list__button extra-list__button--white">
          <a class="extra-list__link extra-list__link--white" href="#"
            >Franchise
            <svg class="extra-list__icon extra-list__icon--franchise">
              <use href="./images/sprite.svg#angle-bracket"></use>
            </svg>
          </a>
        </button>
      </li>
    </ul>
  </div>
</section>
