<section class="contacts">
    <div class="container">
    <div class="contacts container">
        <h2 class="visually-hidden">#</h2>
        <ul class="contacts-list">
            <li class="contacts-list__item">
                <a href="" class="contacts-list__link">
                    <h2 class="contacts-list__header">Cafe</h2>

                    <div class="contacts-list__wrapper contacts-list__wrapper-1">
                    <span class="contacts-list__header">Cafe</span>
                    </div>
                    <div class="contacts-list__content">
                        <h3 class="contacts-list__title">Chicago</h3>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__shedule">
                        <h3 class="contacts-list__days">Monday - Friday</h3>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts-list__days">Saturday - Sunday</h3>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                        <div class="contacts-list__works">
                        <h3 class="contacts-list__days">Monday - Friday</h3>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-list__weekends">
                        <h3 class="contacts-list__days">Saturday - Sunday</h3>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                        </div>

                    </div>
                    <div class="contacts-list__info">
                        <p class="contacts-list__telmail">+61(0) 383 766 284<br>noreply@envato.com</p>
                    </div>
                </a>
            </li>
            <li class="contacts-list__item">
                <a href="" class="contacts-list__link">
                    <h2 class="contacts-list__header">Food Truck</h2>
                    <div class="contacts-list__content">
                        <h3 class="contacts-list__title">Chicago</h3>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__shedule">
                        <h3 class="contacts-list__days">Monday - Friday</h3>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts-list__days">Saturday - Sunday</h3>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    <div class="contacts-list__wrapper contacts-list__wrapper-2">
                    <span class="contacts-list__header">Food Truck</span>
                    </div>  
                    <div class="contacts-list__content">
                        <h2 class="contacts-list__title">Chicago</h2>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__shedule">
                        <div class="contacts-list__works">
                        <h2 class="contacts-list__days">Monday - Friday</h2>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-list__weekends">
                        <h3 class="contacts-list__days">Saturday - Sunday</h3>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p> 
                        </div> 
                    </div>
                    <div class="contacts-list__info">
                        <p class="contacts-list__telmail">+61(0) 383 766 284<br>noreply@envato.com</p>
                    </div>
                </a>
            </li>
            <li class="contacts-list__item">
                <a href="" class="contacts-list__link">
                    <h2 class="contacts-list__header">Cafe</h2>
                    <div class="contacts-list__wrapper contacts-list__wrapper-1">
                    <span class="contacts-list__header">Cafe</span>
                    </div>
                    <div class="contacts-list__content">
                        <h3 class="contacts-list__title">Chicago</h3>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__shedule">
                        <h3 class="contacts-list__days">Monday - Friday</h3>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts-list__days">Saturday - Sunday</h3>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                        <div class="contacts-list__works">
                        <h3 class="contacts-list__days">Monday - Friday</h3>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-list__weekends">
                        <h3 class="contacts-list__days">Saturday - Sunday</h3>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <div class="contacts-list__info">
                        <p class="contacts-list__telmail">+61(0) 383 766 284<br>noreply@envato.com</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
        <ul class="extra-list">
            <li class="extra-list__item">
                <button class="extra-list__button extra-list__button-1">Our Locations</button>
            </li>
            <li class="extra-list__item">
                <button class="extra-list__button extra-list__button-2">Franchise</button>
            </li>
        </ul>
    </div>
    
</section>

