<section class="section--gallery">
  <div class="container conatiner--gallery">
    <picture>
      <!-- <source
        media="(min-width: 1280px)"
        srcset="./images/about/cow/cow-desktop.png 1x, ./images/about/cow/cow-desktop@2x.png 2x" />
      <source
        media="(min-width: 768px)"
        srcset="./images/about/cow/cow-tablet.png 1x, ./images/about/cow/cow-tablet@2x.png 2x" />
      <source media="(min-width: 280px)" srcset="./images/about/cow/cow.png 1x, ./images/about/cow/cow@2x.png 2x" /> -->

      <img class="gallery-img" src="./images/gallery/gallery-tablet@2x.png" alt="Корова" loading="lazy"
    /></picture>
  </div>
</section>
