<header class="header">
    <div class="">
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__logo">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="
                            ./images/hero-header/logo.webp     1x,    
                            ./images/hero-header/logo@2x.webp  2x
                            " 
                            type="image/webp">
                        <source media="(min-width: 1200px)" srcset="
                            ./images/hero-header/logo.png     1x,    
                            ./images/hero-header/logo@2x.png  2x
                            "
                            >
                        <img src="#" alt="" width="">
                    </picture>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Home</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">About us</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">How its made?</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Our Products</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Contact</a>
                </li>
                <li class="nav-list__btn">
                    <button type="">Buy now</button>
                </li>
            </nav>
        <h1 class="header-hero-title">ice cream<br>made with<br><span class="header-hero-title__color">passion</span></h1>
        <ul>
            <li><button type="button">Products</button></li>
            <li><button type="button">How its made?</button></li>
        </ul>
        <ul>
            <li>
                <picture></picture> 
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li>
                    
            </li>
        </ul>
        <ul>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                        ./images/hero-header/header-hero.webp     1x,    
                        ./images/hero-header/header-hero@2x.webp  2x
                        " type="image/webp">
                    <source media="(min-width: 1200px)" srcset="
                        ./images/hero-header/header-hero.png     1x,    
                        ./images/hero-header/header-hero@2x.png  2x
                        ">
                    <img src="#" alt="" width="">
                </picture>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                        ./images/hero-header/header-hero2.webp     1x,    
                        ./images/hero-header/header-hero2@2x.webp  2x
                        " 
                        type="image/webp">
                    <source media="(min-width: 1200px)" srcset="
                        ./images/hero-header/header-hero2.png     1x,    
                        ./images/hero-header/header-hero2@2x.png  2x
                        ">
                    <img src="#" alt="" width="">
                </picture>
            </li>
        </ul>
        <ul>
            <li>16</li>
            <li>23</li>
        </ul>
        <!-- Mobile -->
        <button class="burger-btn">
            <svg class="burger-btn__icon" width="20" height="12">
                <use href=""></use>
            </svg>
        </button>
        <div>
            <button class="">
                <svg class="" width="14" height="14">
                    <use href=""></use>
                </svg>
            </button>
            <ul>
                <li>
                    <button type="button">Buy now</button>
                </li>
                <li class="">
                    <a href="" class="">Home</a>
                </li>
                <li>
                    <a href="" class="nav-list__link">About us</a>
                </li>
                <li>
                    <a href="" class="nav-list__link">How its made?</a>
                </li>
                <li>
                    <a href="" class="nav-list__link">Our Products</a>
                </li>
                <li>
                    <a href="" class="nav-list__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>