<!-- Модалка для Ice Cream -->
<div class="products-backdrop is-hidden" data-modal-products-pink>
  <div class="products-modal">
    <div class="products-modal__desc--pink">
      <h4 class="products__title products__title--pink">ice cream</h4>
      <p class="products__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam assumenda, expedita facere quam sequi eum enim
        omnis quibusdam eligendi debitis.
      </p>
      <p class="products__desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, esse modi pariatur explicabo ullam omnis
        assumenda quisquam quibusdam natus libero.
      </p>
      <p class="products__desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum possimus minus quisquam iure nihil ad ratione
        saepe ut expedita eius.
      </p>
    </div>
    <button type="button" class="button products-modal-close" data-modal-pink-close>
      <svg class="products-modal-close__icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>

<!-- Модалка для Ice Coffee -->
<div class="products-backdrop is-hidden" data-modal-products-sand>
  <div class="products-modal">
    <div class="products-modal__desc--sand">
      <h4 class="products__title products__title--sand">ice coffee</h4>
      <p class="products__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam assumenda, expedita facere quam sequi eum enim
        omnis quibusdam eligendi debitis.
      </p>
      <p class="products__desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, esse modi pariatur explicabo ullam omnis
        assumenda quisquam quibusdam natus libero.
      </p>
      <p class="products__desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum possimus minus quisquam iure nihil ad ratione
        saepe ut expedita eius.
      </p>
    </div>
    <button type="button" class="button products-modal-close" data-modal-sand-close>
      <svg class="products-modal-close__icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>

<!-- Модалка для Milkshakes -->
<div class="products-backdrop is-hidden" data-modal-products-grass>
  <div class="products-modal">
    <div class="products-modal__desc--grass">
      <h4 class="products__title products__title--grass">milkshakes</h4>
      <p class="products__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam assumenda, expedita facere quam sequi eum enim
        omnis quibusdam eligendi debitis.
      </p>
      <p class="products__desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, esse modi pariatur explicabo ullam omnis
        assumenda quisquam quibusdam natus libero.
      </p>
      <p class="products__desc">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum possimus minus quisquam iure nihil ad ratione
        saepe ut expedita eius.
      </p>
    </div>
    <button type="button" class="button products-modal-close" data-modal-grass-close>
      <svg class="products-modal-close__icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
