<section class="products-section">
  <div class="container">
    <p class="products-section__text">100% natural</p>
    <h2 class="products-section__title">products</h2>
    <ul class="products">
      <li class="products__item products__item--pink">
        <h3 class="products__title">ice cream</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.
        </p>
        <button class="products-button">
          <svg class="products-button__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--sand">
        <h3 class="products__title">ice coffee</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.
        </p>
        <button class="products-button">
          <svg class="products-button__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--grass">
        <h3 class="products__title">milkshakes</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.
        </p>
        <button class="products-button">
          <svg class="products-button__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
