.customer-reviows__container {
  padding-top: 143px;
  padding-bottom: 66px;
  @media screen and (min-width: 768px) {
    padding-top: 200px;
  }
}

.customer-reviows {
  background-color: $primary-bg-color;
}
// .customer-reviows__slider {
// }

.customer-reviows__item {
  position: relative;
  text-align: center;
  z-index: 1;
}

.customer-reviows__img {
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translate(-50%, 0);
  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1279px) {
      top: -104px;
    }
  }
  @media screen and (min-width: 1280px) {
    top: -100px;
  }
}

.customer-reviows__item-feature {
  padding-top: 43px;
  padding-right: 66px;
  padding-bottom: 26px;
  padding-left: 57px;

  background-color: $reviews-bg-color;
  &::after {
    position: absolute;
    top: 29px;
    left: 56px;
    display: block;
    content: '';
    width: 54px;
    height: 40px;
    background-image: url('../images/customer-reviews/quotes.png');
    z-index: 1;

    @media screen and (min-width: 768px) {
      @media screen and (max-width: 1279px) {
        top: 30px;
        left: 42px;
      }
    }
    @media screen and (min-width: 1280px) {
      top: 35px;
      left: 66px;
    }
  }

  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1279px) {
      padding-top: 47px;
      padding-right: 80px;
      padding-bottom: 34px;
      padding-left: 80px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 47px;
    padding-right: 88px;
    padding-bottom: 39px;
    padding-left: 88px;
  }
}
.customer-reviows__text {
  position: relative;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  background-image: repeating-linear-gradient(180deg, transparent, transparent 29px, $reviews-line-color 30px);
  background-size: 180px, 217px;
  z-index: 3;
  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1279px) {
      font-size: 14px;
      line-height: 2.16;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
    background-image: repeating-linear-gradient(180deg, transparent, transparent 29px, $reviews-line-color 30px);
  }
}
.dots,
.dots:before,
.dots:after {
  width: 4px;
  height: 4px;
  background: $button-hover-color;
  border-radius: 50%;
}
.customer-reviows__retreat {
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1279px) {
      padding-top: 24px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 47px;
  }
}
.dots {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
.dots:before {
  content: '';
  position: absolute;
  left: -10px;
}
.dots:after {
  content: '';
  position: absolute;
  right: -10px;
}

.customer-reviows__person {
  padding-top: 18px;
  padding-bottom: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1279px) {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.customer-reviows__list {
  display: flex;
  justify-content: center;
}
.customer-reviows__item-icon {
  display: flex;
  margin-left: 18px;
  &:first-child {
    margin-left: 0;
  }
}
.customer-reviows__icon-accent {
  width: 12.4px;
  height: 11.84px;
  fill: $primary-icon-color;
}
.customer-reviows__icon {
  fill: $secondary-icon-color;
}
// .swiper {
//   width: 600px;
//   height: 300px;
// }