.customer-reviows__container {
  padding-top: 100px;
}

.customer-reviows {
  background-color: $primary-bg-color;
}
.customer-reviows__slider {
}

.customer-reviows__item {
  position: relative;
  text-align: center;

  &::after {
    display: block;
    content: '';
    width: 54px;
    height: 40px;
    // background-image: url('/src/images/customer-reviews/quotes.png');
  }
}

.customer-reviows__img {
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translate(-50%, 0);
}
.customer-reviows__item-feature {
  // position: relative;
  padding-top: 43px;
  padding-right: 66px;
  padding-bottom: 26px;
  padding-left: 57px;

  background-color: $reviews-bg-color;
}
.customer-reviows__text {
  // min-width: 280px;
  // min-height: 308px;

  background-color: $reviews-bg-color;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  background-image: repeating-linear-gradient(180deg, transparent, transparent 29px, $reviews-line-color 30px);
  background-size: 180px, 217px;
}

.customer-reviows__person {
  margin-top: 52px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}
