.section--gallery {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: linear-gradient(to bottom, $secondary-bg-color 50%, $primary-bg-color 50%, $primary-bg-color 80%);
}
.conatiner--gallery {
  padding-left: 0;
  padding-right: 0;
}
