.header {
  background-color: #ffb8ca;
}
@media screen and (min-width: 1280px) {
  .flex {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 110px;
  }
  .nav {
    margin-left: 45px;
  }
  .nav-list {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 35px;
    }

    &__link {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: $text-color;
    }

    &__item__btn {
      margin-left: 110px;
    }
  }
  .header-hero-title {
    position: absolute;
    left: 115px;
    top: 171px;

    font-family: Titan One;
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;

    &__color {
      font-family: Titan One;
      font-size: 58px;
      letter-spacing: 0.06em;
      color: #d41443;
    }
  }
}

.hero-image {
  &__item {
    position: absolute;
    left: 594px;
    top: 108px;
    z-index: 50;
  }
  &__item--right {
    position: absolute;
    left: 878px;
    top: 433px;
  }
}

@media screen and (min-width: 320px) {
  @media screen and (max-width: 479px) {
  }
}
@media screen and (min-width: 480px) {
  @media screen and (max-width: 767px) {
  }
}
@media screen and (min-width: 768px) {
  @media screen and (max-width: 1199px) {
  }
}
@media screen and (min-width: 1280px) {
}
