.products-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-bottom: 110px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.products-section__text {
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;

  color: $subtitle-text-color;

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.products-section__title {
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;

  color: $color-accent;
  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    letter-spacing: 0.06em;
    margin-bottom: 260px;
  }
}

.products {
  @media screen and (min-width: 768px) {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
}

.products__item {
  padding-top: 160px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 40px) / 3);
    padding-top: 150px;
    padding-right: 13px;

    padding-left: 13px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 60px) / 3);
    padding-top: 165px;
    padding-right: 45px;
    padding-bottom: 50px;

    padding-left: 45px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.products__item--pink {
  background-color: $header-bg-color;
}

.products__item--sand {
  background-color: $section-bg-color;
}

.products__item--grass {
  background-color: $products-item-bg-color;
}

.products__title {
  font-family: Titan One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;

  color: $text-color;
  margin-bottom: 66px;

  @media screen and (min-width: 768px) {
    margin-bottom: 65px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    margin-bottom: 70px;
  }

  &::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $primary-bg-color;
    display: block;
    color: $text-color;

    box-shadow: 10px 0, -10px 0;
    margin: 30px auto 0 auto;
  }

  position: relative;
}

.products__title--pink {
  &::before {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: calc(100% + 22px);
    content: '';
    width: 249px;
    height: 252px;
    background-image: url(/images/products/mobile/ice-cream.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/products/mobile/ice-cream@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 224px;
      bottom: calc(100% + 30px);
      background-image: url(/images/products/tablet/ice-cream.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/images/products/tablet/ice-cream@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      bottom: calc(100% + 38px);
      background-image: url(/images/products/desktop/ice-cream.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/images/products/desktop/ice-cream@2x.png);
      }
    }
  }
}

.products__title--sand {
  &::before {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: calc(100% + 22px);
    content: '';
    width: 249px;
    height: 252px;
    background-image: url(/images/products/mobile/ice-coffee.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/products/mobile/ice-coffee@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 224px;
      bottom: calc(100% + 30px);
      background-image: url(/images/products/tablet/ice-coffee.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/images/products/tablet/ice-coffee@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      bottom: calc(100% + 38px);
      background-image: url(/images/products/desktop/ice-coffee.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/images/products/desktop/ice-coffee@2x.png);
      }
    }
  }
}

.products__title--grass {
  &::before {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    content: '';
    width: 249px;
    height: 252px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    bottom: calc(100% + 22px);
    background-image: url(/images/products/mobile/milkshakes.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/products/mobile/milkshakes@2x.png);
    }

    @media screen and (min-width: 768px) {
      width: 220px;
      height: 224px;
      bottom: calc(100% + 30px);
      background-image: url(/images/products/tablet/milkshakes.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/images/products/tablet/milkshakes@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      width: 335px;
      height: 335px;
      bottom: calc(100% + 38px);
      background-image: url(/images/products/desktop/milkshakes.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(/images/products/desktop/milkshakes@2x.png);
      }
    }
  }
}

.products__desc {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  color: $text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.products-button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  border-width: 0;
  background-color: $primary-bg-color;
  margin: 0 auto;
}

.products-button__icon {
  width: 10px;
  height: 10px;
  fill: $color-accent;
}
